html {
   background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3%;

}
h1 {
    color: rgb(20, 93, 14);
    
}
h2 {
    color: violet;
}
h3 {
    color: rgb(5, 52, 52);
}
h4 {
    color:  rgb(50, 50, 14);
}

a {
    text-decoration: none;
    background-color: lightgreen
    color: black;
}